.cards.block,
.cards.block .cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cards.block .title {
  padding: 2em 0;
}

.cards.block .title h4 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: var(--letter-spacing-l);
  line-height: var(--line-height-m);
}

.cards.block .cards-list .cards-item {
  display: flex;
  padding: 0 1em;
  margin-bottom: 30px;
  flex-direction: column;
  width: 100%;
}

.cards.block.cards-1-cols .cards-list .cards-item {
  padding: 0;
}

.cards.block .cards-list .cards-item .card-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Default experience */
.cards.block .cards-list .cards-item .card-image picture {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 66%;
}

.cards.block .cards-list .cards-item .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.cards.block .cards-list .cards-item .card-image p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  padding: 1em .5em 0 0;
  margin: 0;
  min-width: calc((2 / 3) * 100%);
  letter-spacing: var(--letter-spacing-l);
  background-color: var(--white);
}

.cards.block .cards-list .cards-item .card-body h3 {
  padding-top: 16px;
  font-size: var(--body-font-size-l);
  font-weight: var(--font-weight-bold);
}

.cards.block .cards-list .cards-item .card-body p {
  margin: 8px 0 24px;
  letter-spacing: var(--letter-spacing-xs);
}

.cards.block .cards-list .cards-item .card-body .button-container {
  margin: 16px 0 0 ;
  height: 40px;
  display: flex;
}

.cards.block .cards-list .cards-item .card-body .button-container a {
  padding: 10px 24px;
  border: 1px solid var(--black);
  color: var(--black);
}

/* Icons variation */
.cards.block.icons .cards-list .cards-item {
  flex-direction: row;
  padding: 15px 0 25px;
  margin-bottom: 0;
  width: 100%;
  border-top: 1px solid var(--grey);
}

.cards.block.icons .cards-list .cards-item .card-icon {
  margin-top: .5em;
  margin-right: 1em;
}

.cards.block.icons .cards-list .cards-item .card-icon .icon {
  display: block;
}

.cards.block.icons .cards-list .cards-item .icon img {
  width: 35px;
  height: 35px;
}

.cards.block.icons .cards-list .cards-item .card-body h4 {
  text-transform: uppercase;
  font-family: var(--font-family-proxima);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-m);
  line-height: var(--line-height-m);
}

.cards.block.icons .cards-list .cards-item .card-body p {
  margin-bottom: 0;
  letter-spacing: var(--letter-spacing-xs);
}

.section.grey-background .cards.block .cards-list .cards-item .card-image p {
  background-color: var(--light-grey);
}

@media screen and (min-width: 600px) {
  .cards.block.icons {
    margin: 0 auto;
    max-width: 83.333%;
  }

  .cards.block .cards-list .cards-item .card-body h3 {
    font-size: var(--heading-font-size-m);
  }
}

@media (min-width: 900px) {
  .cards.block .cards-list {
    flex-direction: row;
    align-items: stretch;
  }

  .cards.block .cards-list .cards-item {
    flex: 1;
    margin-bottom: 0;
  }

  .cards.block.icons .cards-item {
    flex: 0 1 calc(50% - 10px);
  }

  .cards.block.three-cols .cards-list {
    flex-flow: row wrap;
  }

  .cards.block.three-cols .cards-list .cards-item {
    flex: 0 0 33.33%;
    margin-bottom: 20px;
  }

  .cards.block.cards-1-cols .cards-list .cards-item .card-image {
    max-height: 500px;
  }

  .cards.block.cards-2-cols .cards-list .cards-item .card-image picture {
    padding-bottom: 45%;
  }

  .cards.block.icons .cards-list {
    flex-flow: row wrap;
    align-items: stretch;
    column-gap: 20px;
  }
}

