.cards.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-item {
  padding: 0 1em;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

/* Default experience */
.cards-item .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.cards-item .card-image {
  display: block;
  position: relative;
}

.cards-item .card-image p {
  position: absolute;
  bottom: 0;
  background: var(--lightgrey);
  text-transform: uppercase;
  padding: 1em 1em 0 0;
  width: calc((2 / 3) * 100%);
  letter-spacing: var(--letter-spacing-l)
}

.cards-item .card-body p {
  margin: 8px 0 24px;
}

.cards-item .card-body h3 {
  padding-top: 16px;
}

.cards-item .card-body .button-container {
  margin: 16px 0 0 ;
  height: 40px;
  display: flex;
}

.cards-item .card-body .button-container a {
  padding: 10px 24px;
  border: 1px solid var(--black);
  color: var(--black);
}

/* Icons variation */
.cards.block.icons .cards-item {
  flex-direction: row;
  padding: 15px 0 25px;
  margin-bottom: 0;
  width: 100%;
  border-top: 1px solid var(--grey);
}

.cards.block.icons .cards-item .card-icon {
  margin-top: .5em;
  margin-right: 1em;
}

.cards.block.icons .cards-item .card-icon .icon {
  display: block;
}

.cards.block.icons .cards-item .icon svg {
  width: 35px;
  height: 35px;
}

.cards.block.icons .cards-item .card-body h4 {
  text-transform: uppercase;
  font-family: var(--font-family-proxima);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-m);
  line-height: var(--line-height-m);
}

.cards.block.icons .cards-item .card-body p {
  margin-bottom: 0;
  letter-spacing: var(--letter-spacing-xs);
}

@media screen and (min-width: 600px) {
  .cards.block.icons {
    margin: 0 auto;
    max-width: 83.333%;
  }
}

@media (min-width: 900px) {
  .cards.block {
    flex-direction: row;
  }

  .cards.block .cards-item {
    flex: 1;
    margin-bottom: 0;
  }

  .cards.block.icons {
    flex-flow: row wrap;
    align-items: stretch;
    column-gap: 20px;
  }

  .cards.block.icons .cards-item {
    flex-basis: calc(50% - 10px);
  }
}
