.agent-profile.block {
  display: flex;
  padding: 0 1rem;
}

main .section.agent-profile-container .agent-profile-wrapper {
  word-break: break-word;
}

.agent-profile.block .profile-image img {
  width: 9.375rem;
  height: 11.875rem;
}

.agent-profile.block .profile-content .contact-me {
  margin-top: 1.5rem;
  display: none;
}

.agent-profile.block .profile-content {
  padding-left: 1.5rem;
  font-size: var(--body-font-size-s);
}

.agent-profile.block .profile-content .name {
  font-size: var(--body-font-size-xl);
  line-height: var(--line-height-m);
  margin-bottom: 0.5rem;
}

.agent-profile.block .profile-content .designation,
.agent-profile.block .profile-content .license-number {
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.agent-profile.block .profile-content .social ul {
  display: flex;
  margin-top: 1rem;
  opacity: .5;
}

.agent-profile.block .profile-content .social li {
  margin-right: 0.5rem;
}

.agent-profile.block .profile-content .email a,
.agent-profile.block .profile-content .website a {
  font-size: var(--body-font-size-xs);
  color: var(--black);
  text-transform: lowercase;
  word-wrap: break-word;
}

.agent-profile.block .profile-content .contact-me a {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-m);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.agent-profile.block .profile-content .contact-me a:hover {
  color: var(--primary-light);
  background-color: var(--primary-color);
}

.agent-profile.block .profile-content .website,
.agent-profile.block .profile-content .email {
  margin-bottom: 0.25rem;
}

.agent-profile.block .profile-content .phone {
  font-size: var(--body-font-size-xs);
}

.agent-profile.block .profile-content .phone li {
  margin-bottom: 0.25rem;
}

@media (min-width: 600px) {
  .agent-profile.block .profile-content .contact-me {
    display: block;
  }
}

@media (min-width: 1200px) {
  main .section.agent-profile-container {
    position: relative;
  }

  main .section.agent-profile-container .agent-profile-wrapper {
    position: absolute;
    display: flex;
    left: auto;
    width: 34rem;
    right: 0;
    bottom: 4.625rem;
    padding: 1.875rem 1.875rem 0;
    z-index: 1;
    background-color: var(--white);
  }

  .agent-profile.block {
    position: relative;
    line-height: var(--line-height-s);
  }

  .agent-profile.block .profile-image img {
    width: 13.125rem;
    height: 15.625rem;
  }

  .agent-profile.block .profile-content .phone {
    font-size: var(--body-font-size-s);
    margin-top: 2px;
    line-height: var(--line-height-m);
  }

  .agent-profile.block .profile-content .email a,
  .agent-profile.block .profile-content .website a {
    font-size: var(--body-font-size-xs);
  }

  .agent-profile.block .profile-content {
    padding-left: 1.875rem;
  }

  .agent-profile.block .profile-content .designation,
  .agent-profile.block .profile-content .license-number {
    margin-bottom: unset;
  }

  .agent-profile.block .profile-content .phone li {
    margin-bottom: unset;
  }
}
