.agent-communities.block {
  height: 1000px;
}

.agent-communities.block .cards-list {
  display: flex;
  flex-wrap: wrap;

  --anim-speed: 0.2s;
  --zoom: 10px;
  --columns: 1;
}

.agent-communities.block .cards-list .cards-item {
  height: 11.5rem;
  flex-basis: calc(100% / var(--columns) - 20px);
  margin: 10px;
  cursor: pointer;
  transition: flex-basis var(--anim-speed) ease-in-out;
}

.agent-communities.block .cards-list .cards-item:first-of-type {
  order: 1;
  border: 1px solid var(--primary-color);
}

.agent-communities.block .cards-list .cards-item-body h4 {
  padding-top: 5rem;
  color: var(--white);
  text-align: center;
  font-weight: var(--font-weight-bold);
  height: 100%;
  text-transform: uppercase;
  font-size: var(--heading-font-size-s);
  filter: drop-shadow(0 0 2px var(--black));
  background: linear-gradient(transparent, transparent, rgba(0 0 0 / 50%));
}

.agent-communities.block .cards-list .cards-item:first-of-type h4 {
  color: var(--primary-color);
  background: unset;
  filter: unset;
}

.agent-communities.block .hero-item {
  margin: 10px 10px 2rem;
  display: flex;
  flex-direction: column;
}

.agent-communities.block .hero-item img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  filter: brightness(0.8);
  margin-bottom: 10px;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.agent-communities.block .hero-item-explore {
  text-transform: uppercase;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  margin: auto;
  padding: .5rem .75rem;
  text-decoration: none;
  font-size: var(--body-font-size-xs);
}

.agent-communities.block .hero-item-heading {
  text-transform: uppercase;
  font-size: var(--body-font-size-s);
  letter-spacing: 3.2px;
}

.agent-communities.block .hero-item-bio {
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-m);
  margin-top: 0.5rem;
}

.agent-communities.block .cards-list .cards-item-body {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.agent-communities.block .cards-list .cards-item-body:hover {
  width: calc(100% + var(--zoom));
  height: calc(100% + var(--zoom));
  margin: calc(0px - var(--zoom)/2);
  transition: margin var(--anim-speed) ease-in-out, width var(--anim-speed) ease-in-out, height var(--anim-speed) ease-in-out;
}

.agent-communities.block .agent-communities-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  max-width: 400px;
  transform: translateX(-50%);
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
  z-index: 2
}

.agent-communities.block.loading .agent-communities-loader {
  opacity: 1;
  visibility: visible;
  transition: all 2s linear;
}

.agent-communities.block .agent-communities-loader .animation {
  position: relative;
  width: 100%;
}

@keyframes pulse {
  from {
    border: 0 solid white;
  }

  to {
    border: 75px solid white
  }
}

.agent-communities.block .agent-communities-loader .pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: linear 2s infinite alternate pulse;
  z-index: 2;
}

.agent-communities.block .agent-communities-loader picture {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.agent-communities.block .agent-communities-loader picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media (min-width: 600px) {
  .agent-communities.block .cards-list {
    --columns: 2;
  }

  .agent-communities.block .hero-item img {
    height: 18.5rem;
  }

  .agent-communities.block .hero-item-explore {
    padding: .85rem 1.15rem;
    font-size: var(--body-font-size-s);
    margin-left: 0;
    margin-bottom: 0;
  }

  .agent-communities.block .cards-list .cards-item-body h4 {
    font-size: var(--heading-font-size-m);
  }

  .agent-communities.block .hero-item-heading {
    color: var(--black);
    padding: 1rem 2rem 0 0;
    background: var(--white);
    width: fit-content;
    min-width: 18.75rem;
  }

  .agent-communities.block .hero-item-heading,
  .agent-communities.block .hero-item-bio,
  .agent-communities.block .hero-item-explore {
    position: relative;
    top: -3.125rem;
  }

  .agent-communities.block .hero-item {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .agent-communities.block .cards-list {
    --columns: 4;
  }

  .agent-communities.block .hero-item-bio {
    font-size: var(--body-font-size-m);
    line-height: var(--line-height-m);
  }

  .agent-communities.block .hero-item img {
    height: 31.25rem;
  }

  .agent-communities.block .hero-item-heading {
    font-size: var(--body-font-size-m);
  }
}
