/* styles for the floating images auto block */
@import url('luxury-collection-template.css');

.block.floating-images {
  margin-bottom: 5em;
}

.block.floating-images > div {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column-reverse;
  min-height: 530px;
}


.block.floating-images .image {
  position: relative;
  padding-bottom: 1.5em 0;
}

.block.floating-images .image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-width: 100%;
}

.block.floating-images .content {
  margin-top: 30px;
}

.block.floating-images .content h2 {
  color: var(--primary-color);
  letter-spacing: normal;
  margin-bottom: 0.5em;
  padding: 0 16px;
  text-align: left;
  text-transform: uppercase;
}

.block.floating-images .content p {
  color: var(--primary-color);
  padding: 0 16px;
}

.block.floating-images .content ul {
  margin-left: 1em;
  margin-bottom: 1em;
  list-style-type: disc;
}

.block.floating-images .content ul li {
  margin-bottom: 1.5em;
  padding-left: 1em;
  line-height: var(--line-height-m);
}

.block.floating-images p .button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: var(--body-fon-size-m);
}

.block.floating-images p .button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.block.floating-images p .button:focus {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  outline: var(--primary-color) solid 2px;
  outline-offset: 3px;
}

@media screen and (min-width: 900px) {
  .block.floating-images > div {
    flex-direction: row;
    align-items: center;
  }

  .block.floating-images > div > div {
    flex: 1;
  }

  .block.floating-images.image-left > div {
    flex-direction: row-reverse;
  }

  .image-full-size .block.floating-images.image-left > div {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .image-full-size .block.floating-images .image img {
    height: auto;
  }

  .image-full-size .block.floating-images > div .content  {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 20px;
  }

  .block.floating-images .image {
    padding: 0;
    min-height: 530px;
  }

  .image-full-size .block.floating-images > div .image  {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  .block.floating-images .image picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .block.floating-images p.button-container {
    text-align: left;
  }
}


@media screen and (min-width: 1200px) {
  .block.floating-images .content h2 {
    padding: 0 80px;
  }

  .block.floating-images .content p {
    padding: 0 80px;
  }
}
