@import url('luxury-collection-template.css');
@import url('./cards/cards.css');

.property-listing.block {
  overflow: hidden;
  width: 100%;
}

.property-listing.block a {
  text-decoration: none;
}

.property-listing.block .header {
  display: flex;
  flex-direction: column;
}

.property-listing.block .header > div {
  margin-bottom: 24px;
}

.property-listing.block .header > div > span {
  color: var(--primary-color);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-semibold);
  letter-spacing: initial;
  line-height: var(--line-height-m);
  text-transform: capitalize;
}

.property-listing.block .header > div > p {
  margin: 0;
}

.liveby-community .property-listing.block {
  max-width: 1150px;
  margin: auto;
}

@media (min-width: 600px) {
  .property-listing.block .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .property-listing.block .header .button-container {
    justify-content: flex-end;
  }
}
