aside.side-modal {
    overflow: hidden scroll;
    position: fixed;
    top: 65px;
    bottom: 0;
    width: 100%;
    right: 0;
    transition: right .2s cubic-bezier(.4,0,.2,1) .1s;
    background-color: white;
    z-index: 1090;
}

aside.side-modal[aria-expanded="true"] {
    right: 0;
}

aside.side-modal > div {
    width: 100%;
    padding: 53px 15px 15px;
}

@media (min-width: 600px) {
    aside.side-modal {
        top: 0;
        width: 600px;
        right: -600px;
    }

    aside.side-modal > div {
        padding: 53px 45px 15px;
    }
}
