.accordion-item .accordion-body {
  max-height: 999em;
  overflow: hidden;
  transition: max-height .6s;
}

.accordion-item.collapse .accordion-body {
  max-height: 0;
}

.accordion-header {
  border-top: 1px solid var(--grey);
  cursor: pointer;
  padding: 16px 30px 16px 0;
  position: relative;
  display: block;
}

.accordion-header-title {
  display: inline-block;
  font-family: var(--font-family-georgia);
  font-weight: var(--font-weight-semibold);
  line-height: 26px;
  margin: 0 5px 0 0;
  font-size: 22px;
}

.accordion-item .accordion-header::after {
  border-color: var(--body-color) transparent transparent transparent;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  content: '';
  display: block;
  height: 0;
  margin-top: -5px;
  position: absolute;
  right: 2px;
  top: 50%;
  transition: transform .3s linear;
  transform: rotate(0);
  width: 0;
}

.accordion-item.collapse .accordion-header::after {
  transform: rotate(90deg);
  transition: transform .3s linear;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip svg {
  height: 19px;
  width: 19px;
}

.tooltip .icon-info_circle_dark {
  display: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 290px;
  background-color: var(--black);
  color: var(--white);
  text-align: left;
  padding: 14px 18px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin: 12px 0 0 -10px;
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-s);
  letter-spacing: .44px;
  line-height: 22px;
}

.tooltip:hover .icon-info_circle {
  display: none;
}

.tooltip:hover .icon-info_circle_dark {
  display: block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 8px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--black) transparent;
}

@media (min-width: 992px) {
  .accordion-header {
    padding: 27px 30px 30px 0;
  }

  .accordion-header-title {
    font-size: var(--body-font-size-xl);
    letter-spacing: -0.43px;
  }

  .accordion-item .accordion-header::after {
    border-width: 9px 7px 0 7px;
  }
}
