.quote-carousel.block {
  display: flex;
  padding: 2em 0;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid var(--body-color);;
  border-top: 1px solid var(--body-color);
}

.quote-carousel.block .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-m);
  margin-bottom: 1em;
}

.quote-carousel.block .carousel-content {
  display: flex;
  transition: transform 200ms;
  flex-wrap: nowrap;
}

.quote-carousel.block .carousel-content .item {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.quote-carousel.block .carousel-content .item p {
  align-self: center;
  text-align: center;
  letter-spacing: normal;
}

.quote-carousel.block .carousel-content .item .quote {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-xl);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-s);
  padding: 30px 25px 0;
}

.quote-carousel.block .carousel-content .item .author {
  font-family: var(--font-family-georgia);
  font-weight: var(--font-weight-semibold);
  font-size: var(--body-font-size-l);
  line-height: var(--line-height-s);
  margin: 30px 0 0;
}

.quote-carousel.block .carousel-content .item .position {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-m);
}

.quote-carousel.block .controls-container {
  margin-top: 2em;
  display: flex;
  align-self: center;
  align-items: center;
}

.quote-carousel.block .controls-container .pagination {
  display: flex;
  min-width: 100px;
  padding: 0 16px;
  justify-content: center;
  font-size: var(--body-font-size-xs);
}

.quote-carousel.block .controls-container .pagination > span {
  flex-basis: 33%;
  text-align: center;
}

.quote-carousel.block .controls-container button {
  background-color: var(--white);
  border: none;
  padding: 0;
  height: var(--body-font-size-m);
}

.quote-carousel.block .controls-container svg {
  width: var(--body-font-size-m);
  height: var(--body-font-size-m);
}

.quote-carousel.block .controls-container [name="prev"] svg {
  transform: rotate(-180deg);
}

@media (min-width: 600px) {
  .quote-carousel.block .title {
    margin-bottom: 2em;
  }

  .quote-carousel.block .carousel-content .item .quote {
    padding-top: 0;
    padding-bottom: 0;
    line-height: var(--line-height-s);
  }
}

@media (min-width: 900px) {
  .quote-carousel.block .carousel-content .item .quote {
    padding: 0;
    text-align: center;
    width: 66.66%;
  }
}

@media (min-width: 1200px) {
  .quote-carousel.block .carousel-content .item .quote {
    font-size: var(--body-font-size-xxxl);
    line-height: var(--line-height-s);
  }
}
