.quote-carousel-container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
    background-color: var(--white);
}

.quote-carousel-container .default-content-wrapper h4 {
    padding: 0 15px 15px
}

.quote-carousel.block {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--body-color);
    padding-bottom: 50px;
}

.carousel-content {
    display: flex;
    transition: transform 200ms;
    width: calc(100vw - 2*var(--section-padding));
    flex-wrap: nowrap;
}

.carousel-content .item {
    display:flex;
    flex-direction: column;
    flex: 0 0 100%;
}

.carousel-content .item p {
    align-self: center;
    text-align: center;
    letter-spacing: normal;
}

.carousel-content .item .quote {
    font-family: var(--font-family-proxima);
    font-weight: 300;
    font-size: var(--body-font-size-xl);
    line-height: var(--line-height-l);
    padding: 30px 30px 0;
}

.carousel-content .item .author {
    font-family: var(--font-family-georgia);
    font-weight: 600;
    font-size: var(--body-font-size-l);
    line-height: var(--line-height-m);
    margin: 30px 0 0;
}

.carousel-content .item .position {
    font-family: var(--font-family-proxima);
    font-size: var(--body-font-size-s);
    line-height: var(--line-height-m);
}

.quote-carousel .controls-container {
    align-self: flex-end;
    display:none;
}

.quote-carousel .controls-container .pagination {
    font-size: var(--body-font-size-xs);
    padding-right: 16px;
}

.quote-carousel .controls-container div{
    display: flex;
    align-self: flex-end;
}

.quote-carousel .controls-container button {
    background-color: var(--white);
    border: none;
    padding: 0;
}

.controls-container svg {
    width: 20px;
    height:20px;

}

.controls-container [name="prev"] svg {
    transform: rotate(-180deg);
}

@media (min-width: 600px) {
    .quote-carousel-container {
        padding-top: 130px;
        padding-bottom: 80px;
    }

    .quote-carousel-container .default-content-wrapper h4 {
        padding: 0 15px 40px
    }

    .quote-carousel.block {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .carousel-content .item .quote {
        padding: 0;
    }

    .quote-carousel .controls-container {
        display: flex;
    }
}

@media (min-width: 992px) {
    .quote-carousel-container {
        padding-bottom: 100px;
    }

    .carousel-content .item .quote {
        font-size: var(--body-font-size-xxl);
        padding: 0;
        text-align: center;
        width: 66.66%;
    }

    .quote-carousel-container .default-content-wrapper h4 {
        padding: 0 15px 15px
    }
}
