.quote-carousel-wrapper {
  background-color: var(--primary-color);
  color: var(--white);
}

.quote-carousel.block {
  border-bottom: 1px solid var(--body-color);;
  border-top: 1px solid var(--body-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2em 0;
  position: relative;
}

.quote-carousel.block p,
.quote-carousel.block .pagination span {
  color: var(--white);
}

.quote-carousel.block .title {
  text-align: center;
  text-transform: capitalize;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-m);
  margin-bottom: 1em;
}

.quote-carousel.block .carousel-content {
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 200ms;
}

.quote-carousel.block .carousel-content .item {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.quote-carousel.block .carousel-content .item p {
  align-self: center;
  text-align: center;
  letter-spacing: normal;
}

.quote-carousel.block .carousel-content .item .quote {
  font-family: var(--font-family-primary);
  font-size: var(--body-font-size-xl);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-s);
  padding: 30px 25px 0;
}

.quote-carousel.block .carousel-content .item .author {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-s);
  margin: 30px 0 0;
}

.quote-carousel.block .carousel-content .item .position {
  font-family: var(--font-family-primary);
  font-size: var(--body-font-size-xxs);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-m);
  line-height: var(--line-height-m);
  text-transform: uppercase;
}

.quote-carousel.block .controls-container {
  align-items: baseline;
  align-self: center;
  bottom: 30px;
  display: flex;
  margin-top: 2em;
  position: absolute;
  right: 15px;
}

.quote-carousel.block .controls-container .pagination {
  display: flex;
  font-size: var(--body-font-size-xxs);
  justify-content: flex-end;
  margin-right: 16px;
  min-width: 70px;
}

.quote-carousel.block .controls-container .pagination > span {
  flex-basis: 25%;
  font-size: var(--body-font-size-xxs);
  text-align: center;
}

.quote-carousel.block .controls-container button {
  background-color: transparent;
  border: none;
  height: var(--body-font-size-m);
  padding: 0;
  transform: translateY(2px);
}

.quote-carousel.block .controls-container img {
  color: var(--white);
  height: var(--body-font-size-m);
  width: var(--body-font-size-m);
}

.quote-carousel.block .controls-container [name="prev"] img {
  transform: rotate(-180deg);
}

@media (min-width: 600px) {
  .quote-carousel.block {
    padding-top: 130px;
  }

  .quote-carousel.block .title {
    margin-bottom: 2em;
  }

  .quote-carousel.block .carousel-content .item .quote {
    padding-top: 0;
    padding-bottom: 0;
    line-height: var(--line-height-s);
  }
}

@media (min-width: 900px) {
  .quote-carousel.block .carousel-content .item .quote {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    width: 66.66%;
  }
}

@media (min-width: 1200px) {
  .quote-carousel.block .carousel-content .item .quote {
    font-size: var(--body-font-size-xxxl);
    line-height: var(--line-height-s);
  }
}
