/* Cards in community block to show in 4 columns using a flex layout.  */
.community-directory.block .cards-list {
  --anim-speed: 0.2s;
  --zoom: 10px;
  --columns: 1;

  display: flex;  
  flex-wrap: wrap;
}

/* Headers in each card should overlap the image in a white font. */
.community-directory.block .cards-list .cards-item {
  max-height: 183px;
  height:183px;
  flex-basis: calc(100% / var(--columns) - 20px);
  margin: 10px;
  position:relative;
  cursor: pointer;
  transition: flex-basis var(--anim-speed) ease-in-out;
}

.community-directory.block .cards-list .cards-item-body {
  width:100%;
  height:100%;
  background-size: cover;
  display: block;
  position: absolute;
  transition: margin var(--anim-speed) ease-in-out, width var(--anim-speed) ease-in-out, height var(--anim-speed) ease-in-out;
}

.community-directory.block .cards-list .cards-item-body:hover {
  width: calc(100% + var(--zoom));
  height: calc(100% + var(--zoom));
  margin: calc(0px - var(--zoom)/2);
  transition: margin var(--anim-speed) ease-in-out, width var(--anim-speed) ease-in-out, height var(--anim-speed) ease-in-out;
}

.community-directory.block .cards-list .cards-item-body h4 {
  position: absolute;
  padding-top: 80px;
  z-index: 1;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: var(--heading-font-size-s);
  filter: drop-shadow(0 0 2px black);
  background: linear-gradient(transparent, transparent, rgba(0 0 0 / 50%));
  transition: margin-top var(--anim-speed) ease-in-out, padding-top var(--anim-speed) ease-in-out, filter var(--anim-speed) ease-in-out;
}


.community-directory.block .cards-list .cards-item-body:hover h4{
  padding-top: calc(76px + var(--zoom)/2);
  background: none;
  filter: drop-shadow(0 4px 6px black);
  transition: margin-top var(--anim-speed) ease-in-out, padding-top var(--anim-speed) ease-in-out, filter var(--anim-speed) ease-in-out;
}

@media (min-width: 600px) {
  .community-directory.block .cards-list {
    --columns: 2;
  }
}

@media (min-width: 1200px) {
  .community-directory.block .cards-list {
    --columns: 4;
  }
}
