@import url('search/search.css');

main .section.hero-container {
  padding: 0;
}

.hero.block {
  display: flex;
  position: relative;
  height: 480px;
  margin-bottom: 57px;
  justify-content: center;
  align-items: center;
}

main .section.full-width > .hero-wrapper {
  max-width: var(--full-page-width);
}

.hero.block.under-nav {
  margin-top: calc(var(--nav-height) * -1);
  background: linear-gradient(180deg, rgba(0 0 0 / 50%) 0, rgba(0 0 0 / 15%) 50px, transparent 100px, transparent 100%);
}

.hero.block.has-content.under-nav {
  background: linear-gradient(180deg, rgba(0 0 0 / 50%) 0, rgba(0 0 0 / 15%) 100px, rgba(0 0 0 / 15%) 100%);
}

.hero.block .images {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.hero.block .images picture {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .6s linear;
}

.hero.block .images picture.active {
  opacity: 1;
}

.hero.block .images img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hero.block > div {
  padding: 0 16px;
}

.hero.block > div .content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5em 16px;
}

.hero.block > div .content h2 {
  margin-bottom: .75em;
  color: var(--white);
}

.hero.block > div .content h1,
.hero.block > div .content h2,
.hero.block > div .content p {
  color: var(--white);
}

.hero.block > .row > .headline {
  color: var(--white);
  font-size: var(--body-font-size-m);
  line-height: 23px;
  padding-left: 16px;
}

.hero.block > .row > .headline > .title {
  letter-spacing: 1.38px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero.block > .row > .headline > .desc {
  letter-spacing: 1.38px;
  margin-bottom: 5px;
}

.hero.block > .row > .headline a {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

@media screen and (min-width: 600px) {
  .hero.block {
    height: 620px;
    margin-bottom: 80px;
  }

  .hero.block > div {
    padding: 0 60px;
  }

}

@media screen and (min-width: 900px) {
  .hero.block > div {
    padding: 0 130px;
  }
}

@media screen and (min-width: 1200px) {
  .hero.block {
    height: 600px;
    justify-content: unset;
  }

  .hero.block.under-nav {
    margin-top: -100px;
  }

  .hero.block > div {
    margin-top: 100px;
  }

  .hero.block > .row {
    display: flex;
  }

  .hero.block > .row > .content {
    flex: 2;
  }

  .hero.block > .row > .headline {
    flex: 1;
    margin-top: 150px;
    margin-left: 20px;
  }
}
