.avm-report.block {
  padding: 2em 0;
  max-width: 600px;
}

.avm-report.block h2 {
  font-size: var(--heading-font-size-m);
  margin-bottom: .5em;
}

.avm-report.block p {
  letter-spacing: var(--letter-spacing-s);
}

.avm-report.block form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}

.avm-report.block form .avm-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.avm-report.block form .avm-input input {
  display: block;
  padding-left: 10px;
  margin-right: 16px;
  height: 50px;
  border: 1px solid var(--border-medium-grey);
}

.avm-report.block form .avm-input input[name="avmaddress"] {
  margin-right: 16px;
  width: 250px;
}

.avm-report.block form .avm-input input[name="avmunit"] {
  padding-left: 10px;
  width: 67px;
}


@media screen and (min-width: 600px) {
  .avm-report.block {
    width: 85%;
    margin: 0 auto;
  }

  .avm-report.block h2 {
    font-size: var(--heading-font-size-l);
  }
}

@media screen and (min-width: 900px) {
  .avm-report.block form {
    flex-direction: row;
  }

  .avm-report.block form .avm-input input[name="avmaddress"] {
    width: 100%;
  }

  .avm-report.block form .avm-input input[name="avmunit"] {
    margin-right: 16px;
  }

  .avm-report.block form button[type="submit"] {
    flex: unset;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .avm-report.block h2 {
    font-size: var(--heading-font-size-xxl);
    line-height: var(--line-height-s);
  }
}
