/* suppress nested section padding */
.fragment-wrapper > .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment-wrapper > .section:first-of-type {
  padding-top: 0;
}

.fragment-wrapper > .section:last-of-type {
  padding-bottom: 0;
}

.fragment-wrapper .disclaimer div p {
  font-family: var(--font-family-primary);
  font-size: var(--body-font-size-xxs);
  line-height: var(--line-height-s);
  color: var(--dark-grey);
}
