.agent-address.block {
  padding: 2rem;
  background-color: var(--tertiary-color);
}

.agent-address.block .address {
  margin-bottom: 2rem;
}

.agent-address.block .address>p {
  margin-bottom: 0;
  font-size: var(--body-font-size-xs);
}

.agent-address.block a {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-m);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: var(--body-font-size-s);
}

.agent-address.block a:hover {
  color: var(--primary-light);
  background-color: var(--primary-color);
}

@media (min-width: 600px) {
  .agent-address.block {
    display: none;
  }
}
