/* Agent Search form specific CSS */

@import url('../../agent-search/selection-tags.css');

.hero.block .content .agents {
  display: none;
  position: relative;
}

.hero.block .content .agents.active {
  display: block;
}

.hero.block .agent-search .selection-tags {
  position: absolute;
}

.hero.block .agent-search .selection-tags {
  padding: 0;
}

.agent-search .selection-tags .selection-tags-list {
  padding: 0;
}

.hero.block .agent-search .selection-tags .selection-tags-list .selection-tags-item {
  padding: 5px 8px;
  background-color: rgba(20 20 20 / 50%);
  border: 1px solid rgba(170 170 170 / 80%);
}

.hero.block .agent-search .selection-tags .selection-tags-list .selection-tags-item span {
  font-weight: var(--font-weight-semibold);
}

.hero.block .agent-search .selection-tags .selection-tags-list .selection-tags-item span.close {
  background-color: rgba(20 20 20 / 50%);
  border: 1px solid rgba(170 170 170);
}
