/* Home Search form specific CSS */

.hero.block .content .homes {
  display: none;
  position: relative;
}

.hero.block .content .homes.active {
  display: block;
}

.hero.block .content .homes .loading-spinner span {
  height: 44px;
  width: 44px;
}

.hero.block .content .homes .mobile-header {
  display: none;
}

.hero.block .content .homes .search-bar .search-country-select-parent {
  display: none; /* hiding as it isn't present in current designs */
  position: relative;
  width: 80px;
}

.hero.block .content .homes .search-bar .suggester-input {
  flex: 1;
}

.hero.block .content .homes .search-bar .filter {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0 8px 0 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.hero.block .content .homes.show-filters .search-bar .filter {
  display: none;
}

.hero.block .content .homes.show-filters {
  border-bottom: 6px solid var(--primary-color);
}


.hero.block .content .homes .search-bar .filter span.icon {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hero.block .content .homes .search-bar .filter span.icon img {
  height: 22px;
  width: 22px;
  color: var(--black);
}

.hero.block .content .homes .search-bar .filter svg {
  height: 22px;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.75;
  width: 22px;
}

.hero.block .content .homes .filters {
  display: none;
}

.hero.block .content .homes .filters input,
.hero.block .content .homes .filters .select-wrapper {
  position: relative;
  height: 40px;
  color: var(--input-placeholder);
  font-size: var(--body-font-size-xs);
  width: calc(50% - 5px);
  margin: 8px 0;
  padding: 0 15px;
  border: 1px solid var(--primary-color);
  text-overflow: ellipsis;
}

.hero.block .content .homes .filters .select-wrapper {
  cursor: pointer;
}

.hero.block .content .homes .filters input {
  font-size: var(--body-font-size-xs);
}

.hero.block .content .homes .filters .select-wrapper select {
  display: none;
}

.hero.block .content .homes .filters .select-wrapper .selected {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.hero.block .content .homes .filters .select-wrapper .selected::after {
  color: var(--primary-color);
  content: '\f0d7';
  display: inline;
  font-family: var(--font-family-fontawesome);
  height: unset;
  position: absolute;
  right: 0;
}

.hero.block .content .homes .filters .select-wrapper.open .selected::after {
  content: '\f0d8';
}

.hero.block .content .homes .filters .select-wrapper .select-items {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid var(--grey);
  border-top: none;
  background-color: var(--white);
}

.hero.block .content .homes .filters .select-wrapper.open .select-items {
  display: block;
}

.hero.block .content .homes .filters .select-wrapper .select-items li {
  display: flex;
  padding: 4px 15px;
  line-height: 30px;
}

.hero.block .content .homes .filters .select-wrapper .select-items li.selected {
  background-color: var(--light-grey);
}

.hero.block .content .homes .submit {
  display: none;
}

@media screen and (max-width: 899px) {
  .hero.block .content .homes.show-filters {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }

  .hero.block .content .homes.show-filters .mobile-header {
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    column-gap: 20px;
    justify-content: space-between;
  }

  .hero.block .content .homes .mobile-header .logo {
    filter: var(--primary-color-svg-filter);
  }

  .hero.block .content .homes .mobile-header .logo img {
    height: 100%;
    width: 100%;
  }

  .hero.block .content .homes .mobile-header .close {
    display: flex;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
  }

  .hero.block .content .homes .mobile-header .close svg {
    filter: none;
    height: 22px;
    width: 22px;
  }

  .hero.block .content .homes .search-bar .close {
    display: none;
  }

  .hero.block .content .homes.show-filters .search-submit {
    display: none;
  }

  .hero.block .content .homes.show-filters .filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .hero.block .content .homes.show-filters .submit {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white);
    display: block;
    height: 40px;
    margin: 50px auto 0;
    max-height: 40px;
    min-width: 140px;
    padding: 0;
    text-align: center;
  }

}

@media screen and (min-width: 900px) {
  .hero.block .content .homes.show-filters .filters {
    background-color: var(--white);
    border-bottom: 6px solid var(--primary-color);
    border-radius: 0 0 6px 6px;
    column-gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 57px;
  }

  .hero.block .content .homes .search-bar .close {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    justify-content: center;
    margin-right: 10px;
    opacity: 0.75;
  }

  .hero.block .content .homes.homes.show-filters .search-bar .close {
    display: inline-block;
  }

  .hero.block .content .homes .search-bar .close svg {
    filter: none;
    height: 22px;
    width: 22px;
  }

  .hero.block .content .homes .filters .select-wrapper .select-items {
    max-height: 185px;
  }
}
