.property-container {
  max-width: var(--normal-page-width);
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--section-padding);
}

.accordion-item .property-container {
  max-width: var(--normal-page-width);
  padding-left: 0;
  padding-right: 0;
}

.property-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: var(--section-padding);
  padding-left: var(--section-padding);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.col-5 {
  flex: 0 0 41.667%;
  max-width: 41.667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333%;
  max-width: 58.333%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333%;
  max-width: 83.333%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.m-auto {
  margin: auto !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}

.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

.p-0 {
  padding: 0 !important;
}

.pl-1, .px-1 {
  padding-left: 0.25rem !important;
}

.pb-1, .py-1 {
  padding-bottom: 0.25rem !important;
}

.pr-1, .px-1 {
  padding-right: 0.25rem !important;
}

.pt-1, .py-1 {
  padding-top: 0.25rem !important;
}

.pl-2, .px-2 {
  padding-left: 0.5rem !important;
}
.pr-2, .px-2 {
  padding-right: 0.5rem !important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}

.pt-3, .py-3 {
  padding-top: 1rem !important;
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important;
}

.pb-content {
  padding-bottom: 57px;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.align-items-center {
  align-items: center !important;
}

@media (min-width: 576px) {
  .property-container {
      max-width: 540px;
  }

  .m-sm-0 {
    margin: 0 !important;
  }
}

@media (min-width: 600px) {
  .property-container {
    max-width: 720px;
  }

  .col-md-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }

  .col-md-10 {
    flex: 0 0 83.333%;
    max-width: 83.333%;
  }

  .offset-md-1 {
    margin-left: 8.333%;
  }

  .mt-md-0, .my-md-0 {
    margin-top: 0 !important;
  }

  .mb-md-0, .my-md-0 {
    margin-bottom: 0 !important;
  }

  .pb-content {
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .property-container {
    max-width: 960px;
  }

  .col-lg-1 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333%;
  }

  .d-lg-block {
    display: block !important;
  }
  
  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-none {
    display: none !important;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .pt-lg-0, .py-lg-0 {
    padding-top: 0 !important;
  }

  .pl-lg-0, .px-lg-0 {
    padding-left: 0 !important;
  }

  .pb-lg-1, .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }

  .pt-lg-1, .py-lg-1 {
    padding-top: 0.25rem !important;
  }
  
  .mb-lg-2, .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .mt-lg-3, .my-lg-3 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .property-container {
    max-width: 1400px;
  }

  .col-xl-1 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
  }

  .col-xl-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .col-xl-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-xl-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .pb-content {
    padding-bottom: 100px;
  }
}
