.cmp-socio-economic-data--table {
  width: 100%;
  position: relative;
}

.cmp-socio-economic-data--table thead {
  vertical-align: top;
}

.cmp-socio-economic-data--table thead th {
  padding: 40px 0 20px;
  font-family: var(--font-family-proxima);
  font-weight: var(--normal-page-width);
  font-size: var(--body-font-size-m);
  line-height: 23px;
  letter-spacing: initial;
  color: var(--body-color);
}

.cmp-socio-economic-data--table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.cmp-socio-economic-data--table tbody tr:first-of-type {
  background: var(--light-grey);
}

.cmp-socio-economic-data--table tbody tr {
  border-top: 1px solid var(--light-grey);
  padding: 0 20px;
  position: relative;
}

.cmp-socio-economic-data--table td {
  width: 25%;
  padding: 40px 0;
}

.cmp-socio-economic-data--table h6 {
  margin: 0;
  padding-left: 20px;
  font-size: var(--body-font-size-s);
  line-height: 35px;
  font-family: var(--font-family-proxima);
  text-transform: uppercase;
}

.cmp-socio-economic-data__stat {
  position: relative;
  font-size: var(--body-font-size-xxxl);
  font-family: var(--font-family-proxima);
  font-weight: var(--font-weight-light);
}

.cmp-socio-economic-data__stat .percentage {
  content: "%";
  font-size: var( --body-font-size-l);
  letter-spacing: 0;
  vertical-align: super;
  margin-left: 0;
  margin-top: -7px;
  position: absolute;
}

.cmp-socio-economic-data__stat .progress-bar {
  width: calc(100% - 100px);
  position: relative;
  margin-left: 80px;
}

.cmp-socio-economic-data__stat .progress-owner {
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  margin-top: -15px;
}

.cmp-socio-economic-data__stat .progress-renter {
  height: 2px;
  background: var(--light-grey);
  position: absolute;
  right: 0;
  margin-top: -15px;
}
