main.liveby-community .section {
  padding-top: 3em;
  padding-bottom: 3em;
}

main.liveby-community .section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

main.liveby-community .liveby-metadata-container {
  display: none;
}

main.liveby-community .hero-container .hero-wrapper {
  padding: 0;
}

main.liveby-community .section p {
  margin-bottom: 2em;
}

main.liveby-community .section > div {
  padding-left: 16px;
  padding-right: 16px;
}

main.liveby-community .section .button-container a {
  margin: .25em .5em;
  padding: .85em 1.15em;
  font-size: var(--body-font-size-m);
  color: var(--white);
  background-color: var(--primary-color);
  text-transform: capitalize;
  text-decoration: none;
}

main.liveby-community .hero-container .hero.block {
  position: relative;
  padding: 0;
  height: unset;
}

main.liveby-community .hero-container .hero.block > div {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
}

main.liveby-community .hero-container .hero.block .images img {
  object-position: center 70%;
}


main.liveby-community .hero-container .hero.block .content {
  display: flex;
  padding: 3em 5%;
  margin: 6em 0;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  background-color: rgba(0 0 0 / 60%);
}

main.liveby-community .hero-container .hero.block .content h1 {
  margin-left: 0;
  margin-right: 0;
  font-family: var(--font-family-primary);
  font-size: var(--heading-font-size-xxl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-l);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0 0 0 / 25%), 0 0 1em rgba(0 0 0 / 37.5%);
  color: var(--white);
}

main.liveby-community h2 {
  margin-bottom: 1em;
  text-align: center;
  color: var(--body-color);
}

@media screen and (min-width: 600px) {
  main.liveby-community .hero-container .hero.block .content {
    width: unset;
  }

  main.liveby-community .hero-container .hero.block .content h1 {
    font-size: var(--heading-font-size-xl);
  }
}

@media screen and (min-width: 900px) {
  main.liveby-community .section.narrow {
    display: flex;
    justify-content: center;
  }

  main.liveby-community .section.narrow > div {
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1200px) {
  main.liveby-community .hero-container .hero.block {
    padding: 0 15px;
  }

  main.liveby-community .hero-container .hero.block > div {
    margin-top: 0;
    padding-bottom: 360px;
  }
}

