/* styles for the floating images auto block */

main .section.image-right .default-content-wrapper,
main .section.image-left .default-content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100vw;
    height: 530px;
}

main .section.image-left .default-content-wrapper {
    flex-direction: row;
}

main .section.image-right .default-content-wrapper .image img,
main .section.image-left .default-content-wrapper .image img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

main .section.image-right .default-content-wrapper .image,
main .section.image-left .default-content-wrapper .image {
    padding: 0 15px;
    max-width: 50%;
}

main .section.image-right .default-content-wrapper .content,
main .section.image-left .default-content-wrapper .content {
    padding: 0 15px;
    max-width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main .section.image-right .default-content-wrapper .content p,
main .section.image-left .default-content-wrapper .content p {
    letter-spacing:var(--letter-spacing-xs);
    margin: 0 0 24px;
}

main .section.image-right .default-content-wrapper .content h2,
main .section.image-left .default-content-wrapper .content h2 {
    letter-spacing: normal;
    margin-bottom: 0.5em;
    text-align: left;
}

main .section.image-right .default-content-wrapper .content .button-container,
main .section.image-left .default-content-wrapper .content .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 992px) {
    main .section.image-right .default-content-wrapper {
        flex-direction: column;
        position: relative;
    }

    main .section.image-left .default-content-wrapper {
        flex-direction: column;
        height: auto;
    }

    main .section.image-right .default-content-wrapper .image img,
    main .section.image-left .default-content-wrapper .image img {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    main .section.image-right .default-content-wrapper .image,
    main .section.image-left .default-content-wrapper .image {
        height: 100%;
        max-width: 100%;
        padding: 0;
    }

    main .section.image-right .default-content-wrapper .content {
        padding: 0;
        position: absolute;
        max-width: 100%;
        top: 50%;
        bottom: 50%
    }

    main .section.image-left .default-content-wrapper .content {
        padding: 0;
        max-width: 100%;
    }

    main .section.image-left .default-content-wrapper .content div {
        margin-left: 50%;
    }

    main .section.image-right .default-content-wrapper .content p,
    main .section.image-left .default-content-wrapper .content p{
        padding-right: 10px;
        letter-spacing:var(--letter-spacing-reg)
    }
}

@media (max-width: 600px) {
    main .section.image-right .default-content-wrapper,
    main .section.image-left .default-content-wrapper {
        height: auto;
        padding:0;
    }

    main .section.image-right .default-content-wrapper .image,
    main .section.image-left .default-content-wrapper .image
    {
        height: 100%;
        padding: 24px 0;
    }

    main .section.image-right .default-content-wrapper .content,
    main .section.image-left .default-content-wrapper .content {
        position: static;
        margin: 30px 0;
    }

    main .section.image-left .default-content-wrapper .content div {
        margin-left: 0;
    }

    main .section.image-right .default-content-wrapper .content p,
    main .section.image-left .default-content-wrapper .content p {
        padding: 0;
    }

    main .section.image-right .default-content-wrapper .content .button-container,
    main .section.image-left .default-content-wrapper .content .button-container {
        justify-content: center;
        align-items: center;
    }
}
