/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');

:root {
  /* Colors */
  --primary-color: #552448;
  --primary-color-lighten: rgba(98 98 121 / 12.5%);
  --primary-color-svg-filter: invert(18%) sepia(17%) saturate(1944%) hue-rotate(264deg) brightness(93%) contrast(95%);
  --body-color: #3a3a3a;
  --platinum: #e7e7e7;
  --light-grey: #f6f6f6;
  --grey: #aaa;
  --dark-grey: #797676;
  --black: #000;
  --white: #fff;
  --grey-blue: #36758d;

  /* Blog Colors (only?) */
  --seller-advice: rgb(240 240 224);
  --home-improvement: rgb(252 245 217);
  --finance: rgb(247 232 229);
  --lifestyle: rgb(229 249 247);
  --general: rgb(229 222 227);
  --buyer-advice: rgb(228 232 234);
  --grey-blog-category: #aaa;

  /* Needed? */
  --secondary-grey: #EFEFEF;
  --transparent: #FFFFFFE6;

  /* Fonts */
  --font-family-georgia: 'GeorgiaPro', 'GeorgiaPro Fallback', 'Times New Roman', serif;
  --font-family-proxima: 'ProximaNova', 'ProximaNova Fallback', 'Arial', sans-serif;
  --font-family-gotham: 'Gotham', 'Gotham Fallback', 'Arial', sans-serif;
  --font-family-fontawesome: 'FontAwesome';
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Headings */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 16px;

  /* Body */
  --body-font-size-xxxl: 40px;
  --body-font-size-xxl: 32px;
  --body-font-size-xl: 26px;
  --body-font-size-l: 20px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* Line heights */
  --line-height-xs : 1.15em;
  --line-height-s  : 1.25em;
  --line-height-m   : 1.5em;
  --line-height-l   : 2em;
  --line-height-xl   : 2.5em;

  /* Common spacing values */
  --letter-spacing-xs : 0.04em;
  --letter-spacing-s  : 0.06em;
  --letter-spacing-reg: 0.07em;
  --letter-spacing-m  : 0.09em;
  --letter-spacing-l  : 0.13em;

  /* Common dimensions */
  --full-page-width: 100vw;
  --wide-page-width: 1600px;
  --normal-page-width: 1350px;

  /* nav height */
  --nav-height: 65px;
  --section-padding: 15px;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-proxima);
  font-weight: 400;
  font-size: var(--body-font-size-m);
  text-align: left;
}

body {
  background-color: var(--white);
}

h2 {
  font-family: var(--font-family-georgia);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

h3 {
  font-family: var(--font-family-georgia);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
}

h4 {
  font-family: var(--font-family-proxima);
  font-size: var(--heading-font-size-xs);
  font-weight: var(--font-weight-semibold);
}

h5 {
  font-family: var(--font-family-proxima);
  font-size: var(--heading-font-size-xs);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-m);
}

p, span {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-reg);
  line-height: var(--line-height-m);
}

p {
  margin-bottom: 1.5em;
}

b, strong {
  font-weight: var(--font-weight-bold);
}

i {
  font-style: italic;
}

header {
  height: var(--nav-height);
}

main .section {
  max-width: var(--normal-page-width);
  margin: 0 auto 3.5em;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

main .section.no-margin {
  margin: 0;
}

main .section.wide {
  max-width: var(--wide-page-width);
}

main .section.full-width {
  max-width: var(--full-page-width);
}

main .section.full-width > div {
  max-width: var(--normal-page-width);
  margin: 0 auto;
}

main .section.grey-background {
  background: var(--light-grey);
}

main .section.white-background {
  background: var(--white);
}

main .section.padding {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* Center rules for a section, but don't apply it to blocks! */
main div[data-align="center"] h1,
main div[data-align="center"] h2,
main div[data-align="center"] h3,
main div[data-align="center"] h4,
main div[data-align="center"] h5,
main div[data-align="center"] h6,
main div[data-align="center"] p,
main .section.center .default-content-wrapper h1,
main .section.center .default-content-wrapper h2,
main .section.center .default-content-wrapper h3,
main .section.center .default-content-wrapper h4,
main .section.center .default-content-wrapper h5,
main .section.center .default-content-wrapper h6,
main .section.center .default-content-wrapper p {
  text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
main .section .default-content-wrapper h2 {
  margin-bottom: .5em;
}

/* stylelint-disable-next-line no-descending-specificity */
main .section .default-content-wrapper h4 {
  margin-bottom: 1.25em;
}

/* common styles */
@keyframes spinner-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0 0 0 / 35%);
  align-items: center;
  justify-content: center;
}

.loading-spinner span {
  display: block;
  border: 8px solid var(--grey);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  animation: spinner-spin 2s linear infinite;
}

.button-container a {
  display: inline-block;
  padding: .75em 1.5em;
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-normal);
  letter-spacing:var(--letter-spacing-s);
  line-height: var(--line-height-s);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--body-color);
  border: 1px solid var(--body-color);
  background-color: var(--white);
  cursor: pointer;
}

.text-up {
  text-transform: uppercase;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.modal .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
  opacity: .75;
}

.modal .modal-content {
  padding: 2em 3em;
  border: 1px solid var(--grey);
  background-color: var(--white);
  z-index: 101;
}

/* stylelint-disable-next-line no-descending-specificity */
.modal .modal-content p {
  font-size: var(--body-font-size-l);
  text-align: center;
}

.modal .modal-content a {
  display: inline-block;
  margin-top: 1em;
  padding: .5em 1em;
  font-size: var(--body-font-size-m);
  color: var(--white);
  background-color: var(--primary-color);
}

form button[type="submit"] {
  display: inline-block;
  padding: 13px 16px;
  margin: 16px 0;
  height: 50px;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  line-height: var(--line-height-m);
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--grey);
}

form button[type="submit"]:hover {
  background-color: var(--white);
  color: var(--body-color);
}

@media screen and (max-width: 599px) {
  .section.hide-on-mobile,
  .section .block.hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: var(--heading-font-size-xxl);
    line-height: var(--line-height-s);
  }

  main .section.narrow {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --nav-height: 140px;
  }
}

@font-face {
  font-family: 'GeorgiaPro Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Times New Roman Bold');
  ascent-override: 82.81%;
  descent-override: 19.80%;
  line-gap-override: 0.00%;
  size-adjust: 110.73%;
}

@font-face {
  font-family: 'GeorgiaPro Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Times New Roman Bold');
  ascent-override: 76.85%;
  descent-override: 18.37%;
  line-gap-override: 0.00%;
  size-adjust: 119.32%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 80.85%;
  descent-override: 21.49%;
  line-gap-override: 0.00%;
  size-adjust: 97.72%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 79.64%;
  descent-override: 21.17%;
  line-gap-override: 0.00%;
  size-adjust: 99.19%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 84.49%;
  descent-override: 22.46%;
  line-gap-override: 0.00%;
  size-adjust: 93.50%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 83.31%;
  descent-override: 22.15%;
  line-gap-override: 0.00%;
  size-adjust: 94.82%;
}

@font-face {
  font-family: 'Gotham Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 85.14%;
  descent-override: 21.29%;
  line-gap-override: 0.00%;
  size-adjust: 112.75%;
}
