/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');
@import url('floating-images.css');

:root {
  /* Colors */
  --primary-color: #552448;
  --primary-color-lighten: rgba(98 98 121 / 12.5%);
  --body-color: #3a3a3a;
  --lightgray: #f6f6f6;
  --black: #000;
  --gray: #d8d8d8;
  --white: #fff;
  --white-background: #fff;
  --border-light-gray: #d8d8d8;
  --border-medium-gray: #aaa;
  --primary-color-svg-filter: invert(14%) sepia(47%) saturate(1309%) hue-rotate(272deg) brightness(96%) contrast(89%);

  /* Fonts */
  --font-family-georgia: 'GeorgiaPro', 'GeorgiaPro Fallback', 'Arial', sans-serif;
  --font-family-proxima: 'ProximaNova', 'ProximaNova Fallback', 'Arial', sans-serif;
  --font-family-gotham: 'Gotham', 'Gotham Fallback', 'Arial', sans-serif;
  --font-family-fontawesome: 'FontAwesome';
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-heavier: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Headings */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 16px;

  /* Body */
  --body-font-size-xxxl: 40px;
  --body-font-size-xxl: 32px;
  --body-font-size-xl: 26px;
  --body-font-size-l: 20px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* Line heights */
  --line-height-xs : 1.15em;
  --line-height-s  : 1.25em;
  --line-height-m   : 1.5em;
  --line-height-l   : 2em;
  --line-height-xl   : 2.5em;  
 
  /* Common spacing values */
  --letter-spacing-xs : 0.04em;
  --letter-spacing-s  : 0.06em;
  --letter-spacing-reg: 0.07em;
  --letter-spacing-m  : 0.09em;
  --letter-spacing-l  : 0.13em;

  /* Common dimensions */
  --max-page-width: 1350px;

  /* nav height */
  --nav-height: 65px;
  --section-padding: 15px;
}

@media screen and (min-width: 1200px) {
  :root {
    --nav-height: 140px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--body-color);
  font-family: var(--font-family-proxima);
  font-weight: 400;
  font-size: var(--body-font-size-m);
  text-align: left;
}

body {
  background-color: var(--white-background);
}

h2 {
  font-family: var(--font-family-georgia);
  font-size: var(--heading-font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

h3 {
  font-family: var(--font-family-georgia);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-heavier);
  line-height: var(--line-height-m);
  padding-top: 0.8em;
}

h4 {
  font-family: var(--font-family-proxima);
  font-size: var(--heading-font-size-xs);
  font-weight: var(--font-weight-heavier);
}

p {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-reg);
  line-height: var(--line-height-m);
}

header {
  height: var(--nav-height);
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

main .section {
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

main .section.center p {
  text-align: center;
}

/* common styles */
@keyframes spinner-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0 0 0 / 35%);
  align-items: center;
  justify-content: center;
}

.loading-spinner span {
  display: block;
  border: 8px solid var(--border-light-gray);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  animation: spinner-spin 2s linear infinite;
}

.background-lightgray {
  background: var(--lightgray);
}

.background-white {
  background: var(--white);
}

.button-container a {
  font-family: var(--font-family-proxima);
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-normal);
  letter-spacing:var(--letter-spacing-s);
  line-height:normal;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--body-color);
}

.button.secondary {
  background: var(--white-background);
  border: 1px solid var(--body-color);
  text-align: center;
  vertical-align: middle;
  padding: 13px 25px;
  height: 40px;
  display: block;
}

/* common styles */
.default-content-wrapper h4 {
  text-transform: uppercase;
  font-family: var(--font-family-proxima);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-l);
  line-height: var(--line-height-m);
  text-align: center;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: var(--heading-font-size-l);
  }
}

@font-face {
  font-family: 'GeorgiaPro Fallback';
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  src: local('Arial Bold');
  ascent-override: 92.25%;
  descent-override: 22.06%;
  line-gap-override: 0.00%;
  size-adjust: 99.40%;
}

@font-face {
  font-family: 'GeorgiaPro Fallback';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: local('Arial Bold');
  ascent-override: 85.62%;
  descent-override: 20.47%;
  line-gap-override: 0.00%;
  size-adjust: 107.10%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: var(--font-weight-light);
  src: local('Arial');
  ascent-override: 80.85%;
  descent-override: 21.49%;
  line-gap-override: 0.00%;
  size-adjust: 97.72%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: var(--font-weight-normal);
  src: local('Arial');
  ascent-override: 79.64%;
  descent-override: 21.17%;
  line-gap-override: 0.00%;
  size-adjust: 99.19%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  src: local('Arial Bold');
  ascent-override: 84.49%;
  descent-override: 22.46%;
  line-gap-override: 0.00%;
  size-adjust: 93.50%;
}

@font-face {
  font-family: 'ProximaNova Fallback';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: local('Arial Bold');
  ascent-override: 83.31%;
  descent-override: 22.15%;
  line-gap-override: 0.00%;
  size-adjust: 94.82%;
}

@font-face {
  font-family: 'Gotham Fallback';
  font-style: normal;
  font-weight: var(--font-weight-normal);
  src: local('Arial');
  ascent-override: 85.14%;
  descent-override: 21.29%;
  line-gap-override: 0.00%;
  size-adjust: 112.75%;
}



