/* stylelint-disable no-descending-specificity */

/** Override global settings **/
main .section.property-search-bar-container {
  max-width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main .section.property-search-bar-container .property-search-bar-wrapper {
  padding: 0;
}

/** End overrides **/

.property-search-bar.block {
  width: 100vw;
  background-color: var(--primary-color);
}

.property-search-bar.block .search-form-wrapper form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 50px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1500px;
}

.property-search-bar.block .search-form-wrapper span.icon {
  height: 20px;
  width: 20px;
}

.property-search-bar.block .search-form-wrapper span.icon > img {
  height: 100%;
  width: 100%;
  filter: brightness(0) invert(1);
}

.property-search-bar.block form .search-bar {
  position: relative;
  flex-grow: 1;
  max-width: 550px;
}

.property-search-bar.block .search-bar input[name="keyword"] {
  padding: 10px;
  border: 1px solid var(--grey);
  height: 36px;
  width: 100%;
  background-color: rgba(194 153 175 / 30%);
  color: var(--primary-light);
  letter-spacing: normal;
  font-size: var(--body-font-size-s);
}

.property-search-bar.block .search-bar input[name="keyword"]::placeholder {
  color: var(--primary-light);
}

.property-search-bar.block .search-bar input[name="keyword"]:focus {
  color: var(--body-color);
  background-color: var(--white);
}

.property-search-bar.block form .result-filters {
  display: flex;
  align-items: center;
}

.property-search-bar.block form .result-filters .selected span {
  color: var(--white);
}


.property-search-bar.block .result-filters .range-wrapper,
.property-search-bar.block .result-filters .select-wrapper {
  display: none;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  height: 50px;
  text-overflow: ellipsis;
  border-left: 1px solid var(--black);
}

.property-search-bar.block .result-filters .range-wrapper:last-of-type {
  border-right: 1px solid var(--black);
}


.property-search-bar.block .result-filters .range-wrapper .select-wrapper {
  border: none;
  padding: 0;
  height: 45px;
}

.property-search-bar.block .result-filters .select-wrapper select,
.property-search-bar.block .advanced-filters .misc .select-wrapper select {
  display: none;
}

.property-search-bar.block .result-filters .range-wrapper > .selected,
.property-search-bar.block .result-filters .select-wrapper > .selected {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 100px;
  line-height: 40px;
  color: var(--white);
}

.property-search-bar.block .result-filters .range-wrapper .select-wrapper > .selected {
  padding: 0 15px;
  width: 140px;
  height: 45px;
  color: var(--body-color);
  border: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters .range-wrapper > .selected span,
.property-search-bar.block .result-filters .select-wrapper > .selected span {
  display: block;
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-semibold);
  letter-spacing: unset;
  line-height: normal;
  text-transform: uppercase;
}

.property-search-bar.block .result-filters .range-wrapper .select-wrapper > .selected span {
  text-transform: none;
}

.property-search-bar.block .result-filters .range-wrapper > .selected::after,
.property-search-bar.block .result-filters .select-wrapper > .selected::after {
  display: block;
  content: '\f0d7';
  font-family: var(--font-family-fontawesome);
  text-align: right;
  width: 25px;
}

.property-search-bar.block .result-filters .range.open > .selected::after,
.property-search-bar.block .result-filters .select-wrapper.open > .selected::after {
  content: '\f0d8';
}

.property-search-bar.block .result-filters .range-wrapper .range-items,
.property-search-bar.block .result-filters .select-wrapper .select-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: var(--white);
  z-index: 501;
  box-shadow: 0 .5rem 1rem rgba(0 0 0 / 15%);
}

.property-search-bar.block .result-filters .range-wrapper .select-wrapper .select-items {
  padding: 0;
  max-height: 185px;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters .range-wrapper:first-of-type .range-items {
  left: 0;
  right: unset;
}

.property-search-bar.block .result-filters .range-wrapper .range-items {
  left: unset;
  right: 0;
  color: var(--body-color);
}

.property-search-bar.block .result-filters .select-wrapper.open .select-items {
  display: block;
}

.property-search-bar.block .result-filters .select-wrapper .select-items li {
  display: flex;
  font-size: var(--body-font-size-s);
  padding: 4px 15px;
  line-height: 30px;
  cursor: pointer;
  border-left: 1px solid var(--platinum);
  border-right: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters .range-wrapper .select-wrapper .select-items li {
  border: none;
  padding: 4px 8px;
}

.property-search-bar.block .result-filters > .select-wrapper .select-items li:first-of-type {
  border-top: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters > .select-wrapper .select-items li:last-of-type {
  border-bottom: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters .select-wrapper .select-items li:hover {
  color: var(--body-color);
  background-color: var(--light-grey);
}

.property-search-bar.block .result-filters .select-wrapper .select-items li.selected {
  color: var(--body-color);
  background-color: var(--light-grey);
}

.property-search-bar.block .result-filters .range-wrapper.open .range-items {
  display: flex;
  align-items: center;
}

.property-search-bar.block .result-filters .range-wrapper .range-items .input-dropdown select {
  display: none;
  visibility: hidden;
}

.property-search-bar.block .result-filters .range-wrapper .range-items .input-dropdown input {
  padding: 10px;
  height: 45px;
  width: 115px;
  font-size: var(--body-font-size-s);
  letter-spacing: normal;
  border: 1px solid var(--platinum);
}

.property-search-bar.block .result-filters .range-wrapper .range-items > span {
  text-align: center;
  margin: 0 16px;
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
}

.property-search-bar.block .result-filters a.filter {
  display: flex;
  margin: 0 8px;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
}

.property-search-bar.block .result-filters a.filter span.icon-close-x-white,
.property-search-bar.block .result-filters a.filter.open span.icon-filter-white {
  display: none;
}

.property-search-bar.block .result-filters a.filter span.icon-filter-white,
.property-search-bar.block .result-filters a.filter.open span.icon-close-x-white {
  display: block;
}

.property-search-bar.block form a.save-search {
  display: none;
}


.property-search-bar.block form a.search-submit {
  height: 36px;
  width: 36px;
  padding: 7px;
  color: var(--body-color);
  border: 1px solid var(--grey);
  background-color: transparent;
}

.property-search-bar.block .advanced-filters {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - var(--nav-height) - 50px);
  overflow-y: scroll;
  z-index: 500;
  background-color: var(--white);
}

.property-search-bar.block .advanced-filters.open {
  display: block;
}

.property-search-bar.block .advanced-filters > div {
  padding: 20px;
  border-bottom: 1px solid var(--grey);
}

.property-search-bar.block .advanced-filters .listing-types {
  display: flex;
  flex-wrap: wrap;
}

.property-search-bar.block .advanced-filters .listing-types > label {
  flex-basis: 100%;
}

.property-search-bar.block .advanced-filters .listing-types > div {
  flex-basis: 50%;
}


.property-search-bar.block .advanced-filters .attributes > div:not(:last-of-type) {
  margin-bottom: 1.5rem;
}


.property-search-bar.block .advanced-filters .select-wrapper {
  position: relative;
}

.property-search-bar.block .advanced-filters .select-wrapper > .selected {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 100px;
  line-height: 40px;
  color: var(--white);
}

.property-search-bar.block .advanced-filters .attributes .select-wrapper > .selected,
.property-search-bar.block .advanced-filters .misc .select-wrapper > .selected {
  padding: 0 15px;
  height: 45px;
  color: var(--body-color);
  border: 1px solid var(--platinum);
}

.property-search-bar.block .advanced-filters .attributes .select-wrapper > .selected span,
.property-search-bar.block .advanced-filters .misc .select-wrapper > .selected span {
  overflow: hidden;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-xs);
}

.property-search-bar.block .advanced-filters .select-wrapper > .selected::after {
  display: block;
  content: '\f0d7';
  font-family: var(--font-family-fontawesome);
  text-align: right;
  width: 15px;
}

.property-search-bar.block .advanced-filters .select-wrapper.open > .selected::after {
  content: '\f0d8';
}

.property-search-bar.block .advanced-filters .select-wrapper .select-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: var(--white);
  z-index: 501;
  box-shadow: 0 .5rem 1rem rgba(0 0 0 / 15%);
}

.property-search-bar.block .advanced-filters .attributes .select-wrapper .select-items,
.property-search-bar.block .advanced-filters .misc .select-wrapper .select-items {
  padding: 0;
  max-height: 185px;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid var(--platinum);
}

.property-search-bar.block .advanced-filters .select-wrapper.open .select-items {
  display: block;
}

.property-search-bar.block .advanced-filters .select-wrapper .select-items li {
  display: flex;
  font-size: var(--body-font-size-s);
  padding: 4px 15px;
  line-height: 30px;
  cursor: pointer;
  border-left: 1px solid var(--platinum);
  border-right: 1px solid var(--platinum);
}

.property-search-bar.block .advanced-filters .attributes .select-wrapper .select-items li,
.property-search-bar.block .advanced-filters .misc .select-wrapper .select-items li {
  border: none;
  padding: 4px 8px;
}

.property-search-bar.block .advanced-filters .select-wrapper .select-items li:hover {
  color: var(--body-color);
  background-color: var(--light-grey);
}

.property-search-bar.block .advanced-filters .select-wrapper .select-items li.selected{
  color: var(--body-color);
  background-color: var(--light-grey);
}

.property-search-bar.block .advanced-filters .attributes .price .range-items,
.property-search-bar.block .advanced-filters .attributes .sqft .range-items,
.property-search-bar.block .advanced-filters .misc .year-range .range-items {
  display: flex;
  align-items: center;
  color: var(--body-color);
}

.property-search-bar.block .advanced-filters .attributes .sqft .range-items > *,
.property-search-bar.block .advanced-filters .misc .year-range .range-items > * {
  flex: 1 1 auto;
}

.property-search-bar.block .advanced-filters .attributes .range-items .select-wrapper select,
.property-search-bar.block .advanced-filters .year-range .range-items .select-wrapper select {
  display: none;
  visibility: hidden;
}

.property-search-bar.block .advanced-filters .attributes .price .range-items > span,
.property-search-bar.block .advanced-filters .attributes .sqft .range-items > span,
.property-search-bar.block .advanced-filters .misc .year-range .range-items > span {
  text-align: center;
  margin: 0 16px;
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
}


.property-search-bar.block .advanced-filters .attributes .price .range-items .input-dropdown {
  flex: 1 1 auto;
}

.property-search-bar.block .advanced-filters .attributes .price .range-items .input-dropdown input {
  padding: 10px;
  height: 50px;
  width: 100%;
  font-size: var(--body-font-size-s);
  letter-spacing: normal;
  border: 1px solid var(--platinum);
}

.property-search-bar.block .advanced-filters .attributes .bedrooms ul,
.property-search-bar.block .advanced-filters .attributes .bathrooms ul {
  display: flex;
  align-items: center;
}

.property-search-bar.block .advanced-filters .attributes .bedrooms ul li,
.property-search-bar.block .advanced-filters .attributes .bathrooms ul li {
  flex: 1;
  border: 1px solid var(--platinum);
  border-right: none;
}

.property-search-bar.block .advanced-filters .attributes .bedrooms ul li:last-of-type,
.property-search-bar.block .advanced-filters .attributes .bathrooms ul li:last-of-type {
  border-right: 1px solid var(--platinum);
}

  .property-search-bar.block .advanced-filters .attributes .bedrooms ul li input[type="radio"],
.property-search-bar.block .advanced-filters .attributes .bathrooms ul li input[type="radio"] {
  display: none;
}

.property-search-bar.block .advanced-filters .attributes .bedrooms ul li label,
.property-search-bar.block .advanced-filters .attributes .bathrooms ul li label {
  display: flex;
  height: 50px;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-light);
  color: var(--body-color);
  text-transform: capitalize;
}

.property-search-bar.block .advanced-filters .attributes .bedrooms ul li input[type="radio"]:checked+label,
.property-search-bar.block .advanced-filters .attributes .bathrooms ul li input[type="radio"]:checked+label {
  background-color: var(--light-grey);
}

.property-search-bar.block .advanced-filters .section-label {
  display: block;
  margin-bottom: 16px;
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-xs);
  letter-spacing: var(--letter-spacing-xs);
  text-transform: uppercase;
}

.property-search-bar.block .advanced-filters label {
  display: block;
  margin: 8px 0;
  font-size: var(--body-font-size-s);
  letter-spacing: var(--letter-spacing-xs);
  text-transform: uppercase;
}


.property-search-bar.block .advanced-filters input[type="radio"] {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.property-search-bar.block .advanced-filters .radio-button {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey);
  border-radius: 100%;
}

.property-search-bar.block .advanced-filters input[type="radio"]:checked+.radio-button {
  background-color: var(--black);
  border-color: var(--black);
}

.property-search-bar.block .advanced-filters input[type="radio"]:checked+.radio-button::after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 100%;
}

.property-search-bar.block .advanced-filters .filter-toggle {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
}

.property-search-bar.block .advanced-filters .filter-toggle .checkbox {
  min-width: 24px;
  height: 16px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #b4b4b4;
  background: var(--white);
}

.property-search-bar.block .advanced-filters .filter-toggle .checkbox::before {
  content: '';
  position: absolute;
  right: 2px;
  top: 2px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  z-index: 1;
  background: #b4b4b4;
}

.property-search-bar.block .advanced-filters .filter-toggle .checkbox.checked {
  background: var(--body-color);
  border: 1px solid transparent
}

.property-search-bar.block .advanced-filters .filter-toggle .checkbox.checked::before {
  transform: translateX(-8px);
  background: var(--white);
}

.property-search-bar.block .advanced-filters .filter-toggle.disabled {
  pointer-events: none;
  opacity: .3;
}

.property-search-bar.block .advanced-filters .property-types div.options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.property-search-bar.block .advanced-filters .property-types div.options button {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 80px;
  width: 100%;
  border: 1px solid var(--platinum);
  background-color: var(--white);
}

.property-search-bar.block .advanced-filters .property-types div.options button.selected {
  background-color: var(--platinum);
  border: 1px solid var(--grey);
}

.property-search-bar.block .advanced-filters .property-types div.options button > svg {
  height: 21px;
  width: 21px;
}

.property-search-bar.block .advanced-filters .property-types div.options button > span {
  text-align: center;
  white-space: break-spaces;
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-xs);
}

.property-search-bar.block .advanced-filters .property-types .all label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.property-search-bar.block .property-types .all input[type="checkbox"] {
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 0;
  opacity: 0;
}

.property-search-bar.block .advanced-filters .property-types .all .checkbox {
  position: relative;
  height: 24px;
  width: 24px;
  border: 1px solid var(--grey);
  z-index: 100;
}

.property-search-bar.block .advanced-filters .property-types .all .checkbox svg {
  display: none;
  position: absolute;
  top: calc(50% - 5px);
  left: 5px;
  height: 10px;
  width: 12px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(4%) saturate(1639%) hue-rotate(303deg) brightness(97%) contrast(94%);
}

.property-search-bar.block .advanced-filters .property-types .all input[type="checkbox"]:checked+.checkbox svg {
  display: block;
}

.property-search-bar.block .advanced-filters .property-types .all span.label {
  font-size: var(--body-font-size-s);
  letter-spacing: var(--letter-spacing-m);
  text-transform: initial;
  line-height: unset;
}

.property-search-bar.block .advanced-filters .keywords {
  background-color: var(--light-grey);
}

.property-search-bar.block .advanced-filters .keywords .keywords-input {
  display: flex;
  padding: 1px 7px;
  height: 50px;
  align-items: center;
  gap: 7px;
  background-color: var(--white);
  border: 1px solid var(--grey);
}

.property-search-bar.block .advanced-filters .keywords .keywords-input input {
  flex: 1 1 auto;
  height: 35px;
  border: none;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-m);
  letter-spacing: normal;
}

.property-search-bar.block .advanced-filters .keywords .keywords-input input::placeholder {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-m);
  letter-spacing: normal;
}

.property-search-bar.block .advanced-filters .keywords .keywords-input button {
  padding: 7px 25px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  vertical-align: middle;
  text-align: center;
}

.property-search-bar.block .advanced-filters .keywords .keywords-input button span {
  font-size: var(--body-font-size-s);
  letter-spacing: var(--letter-spacing-m);
  text-transform: uppercase;
}

.property-search-bar.block .advanced-filters .keywords .keywords-list {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.property-search-bar.block .advanced-filters .keywords .keywords-list .keyword {
  padding: 10px;
  background-color: var(--white);
}

.property-search-bar.block .advanced-filters .keywords .keywords-list .keyword span {
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-xs);
  color: var(--body-color);
}

.property-search-bar.block .advanced-filters .keywords .keywords-list .keyword span.close {
  color: var(--black);
  margin-left: 4px;
}

.property-search-bar.block .advanced-filters .keywords .keywords-match {
  display: flex;
  gap: 14px;
}

.property-search-bar.block .advanced-filters .keywords .keywords-match label,
.property-search-bar.block .advanced-filters .open-houses .open-houses-timeframe label {
  display: flex;
  margin: 0;
  gap: 5px;
  align-items: center;
}

.property-search-bar.block .advanced-filters .keywords .keywords-match label span,
.property-search-bar.block .advanced-filters .open-houses .open-houses-timeframe label span {
  font-size: var(--body-font-size-s);
  text-transform: capitalize;
}

.property-search-bar.block .advanced-filters .misc hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--platinum);
}

.property-search-bar.block .advanced-filters .misc .filter-toggle {
  justify-content: space-between;
}

.property-search-bar.block .advanced-filters .misc .filter-toggle label {
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-bold);
}

.property-search-bar.block .advanced-filters .misc .open-houses .open-houses-timeframe {
  display: none;
}

.property-search-bar.block .advanced-filters .misc .open-houses .open-houses-timeframe.visible {
  display: flex;
  gap: 16px;
}

.property-search-bar.block .advanced-filters .buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 502;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
}

.property-search-bar.block .advanced-filters .buttons p.button-container {
  margin-bottom: 0;
}

.property-search-bar.block .advanced-filters .buttons p.button-container a {
  padding: 7px 25px;
}

.property-search-bar.block .advanced-filters .buttons p.button-container a,
.property-search-bar.block .advanced-filters .buttons p.button-container.secondary a:hover {
  background-color: var(--primary-color);
  border-color: var(--white);
  color: var(--white);
}

.property-search-bar.block .advanced-filters .buttons p.button-container a:hover,
.property-search-bar.block .advanced-filters .buttons p.button-container.secondary a {
  background-color: var(--white);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.property-search-bar.block .search-overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: calc(100vh - var(--nav-height) - 50px);
  top: 50px;
  left: 0;
  background-color: var(--dark-grey);
  opacity: .5;
  z-index: 2;
}

.property-search-bar.block .search-overlay.visible {
  display: block;
}


/* !* suggestions *! */
.property-search-bar.block .search-bar .suggester-results {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: var(--white);
  border: 1px solid var(--grey);
  box-shadow: 0 3px 9px 2px rgba(0 0 0 / 23%);
  z-index: 510;
  line-height: 1.5;
}

.property-search-bar.block .search-bar.show-suggestions .suggester-results {
  display: block;
}

.property-search-bar.block .search-bar .suggester-results .list-title {
  padding: 15px 15px 5px;
  font-family: var(--font-family-primary);
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  color: var(--black);
}

.property-search-bar.block .search-bar .suggester-results > li > ul {
  padding: 0 15px;
}

.property-search-bar.block .search-bar .suggester-results > li > ul > li {
  padding: 8px 0;
  font-size: var(--body-font-size-m);
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}

.property-search-bar.block .search-bar .suggester-results > li:first-child:not(:only-child) {
  display: none;
}

@media screen and (min-width: 600px) {
  .property-search-bar.block .advanced-filters .property-types div.options {
    gap: 8px;
  }

  .property-search-bar.block .advanced-filters .property-types div.options button {
    flex-basis: calc(50% - 4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    height: 40px;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .property-search-bar.block .search-bar {
    flex: 1 1 auto;
  }

  .property-search-bar.block form .result-filters {
    order: 3;
  }

  .property-search-bar.block .result-filters .range-wrapper,
  .property-search-bar.block .result-filters .select-wrapper {
    display: flex;
  }

  .property-search-bar.block form a.search-submit {
    order: 2;
  }

  .property-search-bar.block form a.save-search {
    display: initial;
    padding: 7px 10px;
    border: 1px solid var(--white);
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-m);
    line-height: var(--line-height-s);
    white-space: nowrap;
  }

  .property-search-bar.block form a.save-search span {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: var(--white);
    text-transform: uppercase;
  }

  .property-search-bar.block .advanced-filters {
    width: 600px;
    right: 0;
    left: unset;
  }

  .property-search-bar.block .advanced-filters .attributes {
    display: none;
  }

  .property-search-bar.block .search-overlay {
    position: fixed;
    height: unset;
    top: calc(var(--nav-height) + 50px);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    opacity: .5;
  }
}
