.property-search-template.search-map-active .property-result-listing.block .d-none {
    display: none;
}

.property-search-template.search-map-active .info-window div {
    padding: 3px;
}

.property-search-template.search-map-active .property-result-listing.block > div:last-of-type {
    position: fixed;
    width: 50%;
    left: 50%;
    top: calc(var(--nav-height) + 50px + 120px);

    /* todo need to figureout on how to do this dynamicly */
    height: 600px;
    max-width: calc(1400px/2 - 30px);
}

.property-search-template.search-map-active .info-window {
    width: 178px;
    pointer-events: all;
}

.property-search-template.search-map-active .info-window a {
    color: inherit;
    text-decoration: none;
}

.property-search-template.search-map-active .info-window .info .price {
    font-size: var(--body-font-size-m);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
}

.property-search-template.search-map-active svg:not(:root) {
    overflow: hidden;
}

.property-search-template.search-map-active .info-window .btn-contact-property svg,
.property-search-template.search-map-active .info-window .btn-save-property svg {
    width: 100%;
    height: 100%;
}

.property-search-template.search-map-active .info-window .btn-contact-property .envelope,
.property-search-template.search-map-active .btn-save-property .empty{
    position: absolute;
    opacity: 1;
}

.property-search-template.search-map-active .info-window .btn-contact-property .envelope-dark,
.property-search-template.search-map-active .btn-save-property .empty-dark {
    position: absolute;
    opacity: 0;
}

.property-search-template.search-map-active .info-window .btn-save-property .full {
    position: absolute;
    display: none;
}

/* stylelint-disable selector-class-pattern */
.property-search-template.search-map-active .info-window .info .altPrice {
    font-size: var(--body-font-size-s);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
}

.property-search-template.search-map-active .info-window .info .address,
.property-search-template.search-map-active .info-window .info .providers {
    font-size: var(--body-font-size-xs);
}

.property-search-template.search-map-active .cmp-property-tile__extra-info {
    display: block;
    font-size: var(--body-font-size-xs);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
    padding-left: 10px;
    opacity: 1;
    color: var(--dark-grey);
    letter-spacing: 0;
    line-height: var(--line-height-xs);
}

.property-search-template.search-map-active .info-window .arrow {
    width: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    cursor: pointer;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s bottom opacity ease-out;
    opacity: 1;
}

.property-search-template.search-map-active .info-window .text-danger {
    color: #dc3545 !important;
}

.property-search-template.search-map-active .gm-ui-hover-effect {
    display: none !important;
}

.property-search-template.search-map-active .gm-ui-hover-effect, button[draggable] {
    opacity: 0;
}

.property-search-template hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(0 0 0 / 10%);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.property-search-template.search-map-active .info-window .property-image {
    width: 100%;
    height: 131px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.property-search-template.search-map-active .btn-contact-property,
.property-search-template.search-map-active .btn-save-property {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: auto;
}

.property-search-template .d-flex {
    display: flex !important;

}

.property-search-template .align-items-center {
    align-items: center !important;

}

.property-search-template .p-0 {
   padding: 0 !important;
}

.property-search-template .mr-2 {
    margin-right: 0.5rem !important;
}

.property-search-template.search-map-active .info-window .info {
    background: var(--white);
}

.property-search-template.search-map-active .info-window::before,
.property-search-template.search-map-active .info-window::after {
    content: "";
    bottom: 0;
    opacity: 0;
    transition: .2s bottom opacity ease-in;
}


.property-search-template .property-result-map {
    height: 600px;
    width: 100%;
    display: none;
    position: absolute;
}

.property-search-template.search-map-active .property-result-map {
    display: block;

}

.property-search-template .map-controls-container {
    display: none;
}


.property-search-template.search-map-active  .map-controls-container {
    height: 100%;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    max-width: 1350px;
    margin: 0 auto;
    display: block;
}

.property-search-template.search-map-active .custom-controls a {
    pointer-events: all;
    height: 45px;
    width: 45px;
    background: var(--white);
    display: block;
    position: relative;
    cursor: pointer;
}

.property-search-template.search-map-active .custom-controls a.map-style-hybrid {
    position: relative;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
}

.property-search-template.search-map-active .custom-controls a.map-style-hybrid::before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAACOhJREFUWAmlmXlsVFUUhzsz3RfLUgjQ0hYFVBqQRaAUgQCiskgQCIJ/iEpiZDUoi4CBKBFcQmKiUEwUjTFsScENxCgVUEsBC5VV9imUWgUrldKFTjt+v8e8YTrzXlvgJqfn3LPf7dz7po6wu2g9evSIi4qKSo+IiEivr6/vgKt4n7sKp9NZUltb666pqXEfPnz4+p2GcdyuYc+ePVvExsY+gd1Er9fbG5zscDgirfwgvwH/ElCATk5lZeWOwsLCq1a6djyXnSCYn5WV1TY5OXleZGTkp8gmA6VAEoFbM3sboZ8FUoDTwGT4LYCHoK+CNYMvM9PTUlJS4tq0aXO8tLS0El6TzdmkBgok9zyokECzwetI6EFmZxP9duBF+fn5U/bu3XuIvgd5rei8vLzJyBbDaw9vo8fj6SZbYE5MTMzvmZmZz0E32RpNsF+/fq1JbiOBPgZyqqurexD4dYIm4DkbXjbJvB0QBZHDv22QrURnrSA8PDxOtvJBfwtq60hyw4ABA1oF2IeQtgn27dv3XpfLlYvFIGA0wWYfOnSoBDoc52uAE9BLgKbaYhROAmuAcPnA1yzoURykIfjJVSz6ls0yQRkw4m0Ya+9k4XCHac2Ix0A/wjLPg19l8u2wdNB9FfkgZmyUqSef8LPoVymWXZIhCWrK2cxaggdYiq+Ba6ZTH54Pbzf7bmcQ37a7b9++HxH+jM8FgUr0/1MMxSJmjtVyhwcaQGv/rAXaYrge/Jqcsg9zGe1W+ko2E5lm0QsEN0ReSz6K7wBfM4tjwQn4HQ8MQ90BKNYwIBtQhfD78G9omGEYT2VffEYyI5ihH/v06ZNKWXkSRxNw0geVGOgI8Hb6vwGnoC+By7BT2chGTtc7Ax+x0DoAqpNdwX3BI5HVQldCH4TOuXHjxjcFBQUX+vfv/xh7/nt4U1n+z9Exmj9BkkniVjiOwmYUtIkbNKZfgfbALANK0OtGPwk6BlpbxUM/EhxGXwVah6keXEX/MrQOVTLQgv4QYqiAN2is1BpkE0g6g6SvSOhfYpJTUhGMfHkDK18HIxezmYJ8AXsqR7aUoUQCt8JpIjMYD71C6vQXo1dBvxy6bP/+/eWwPSQwEfwFNVEDCmlcjW9yYJ5hP85E+IYUjASZvUToGcBqgv8lQXAjOS2x1u+gT+Yh8D/QAqMxy7L1sj123eQ0/EsCBwnuIgn5uthQGhZ24MCBUgaxGv4McnqfWSw3RoKR7taWOFClt2zMxsMIiq9fvx6yNKYBOk6B2Q/G3MXFDFCgBC0bj4t1+FAleVwKhjMYkzD6lRGcs7S6ycwAnTx27Jj21x012RLrFCBflo1ZO0sueWyZSVJw6skEVsH8VgybpsOUhuPTNvJmswkuH+mA/4AGG6OzDRio3Jzx8fGdCJzEps4PVjT76enpURgkARdM3l3gIsXr3LmzceKt/DB7+dLRW9NJYp0IrNrktlIWLyEhQfUvHvJvO53m8oklHwlMTIydDWfhPDIPdfFenWLVpnJOb6mdAc60HC4GY9QmOz2C1yHz3wJWesyOfLjq6upsl5g4pfgqZ1I6OLg95kK8hdFOsAprcFNAjVbXUgH4T/RCTioy2WYCaloiO532yHSKcwE9NkISxZeqwaMkuthfqFFUIiGjR9mLMiI83bzGRIboianWHJ2bmjgJ8G3yfFgiI4YS1CjKuXrGg/UiDmndu3dvyT4sYlmWsxW2hyj4GBTqLXKMrwl2OhTi0cg2UBOftvs+oUhHcDFcZLCVWgYV3kQu63Z2Tn38OvaP7l7bhkOXwFYBAcsmH5YTYdoRpx1+EhlriZNZOUcngk4nUyEYX7t2TRd+Bfy2wbLb7RNLPipoWjnLxi2iXMKVm1PfrQS/wpHub6kN0+121+D4CpBqp3Mb/DTFO3PmTI2dDbOsw3YZfN7p+6jOgzHGzgC+NmwRjrs2otMsEYPsgqK7MWWWWLnkce0Ze1CnaTOGA+2+C3zOjoK7ZmRk2N4AjQWVTLbEuh84ZqfLAbkP2QBmb7N0jFpF5d6BURlr/4KdIXLVwJS4uDgVdsuGTr3AUggzOjq6IxOhh698WTZO7zTlQk7fS8Gog3p3UbDX0J/Laf7A6k3Ig7UAY9VE/dxxXraMtgV7txXvu0Q2tB6sqgRefAyFX8HDtBx+Gf71c4cHe9nWwbdMkBWU/UxglXIC33pRk/FqLueZBFnqU5Lc30iiHlkxgRdR76ZCd2Ok+ukjGsy2cap0GMsPrdcIJuH16FejfxnZCXQ7gIvF9zsOIOAvo1vNoPRoNVqDa8b8aELhMWbxB4pqGnthLI5VxDV646OJ4ErgAHw9nVRHy5jhSmZoLTwvlWE6dCz8VkAyul1Iuh/0KGg9TFRi9DLPQf8bfnEoavKjCWU1B6PdCB6Mo10YjwLqoPUNrFtCP6ttZQBjrW4UBvQlOrpJnpKzwOa7Qb5CPA7+PfjVoHW/q7BvA4bC202yU6CNaw58a4nVoUkwHcVcQD/+LKJIf3TkyJF/DSl/GEA+SS6E/A7wO/LJMWuwKD628SCQDbnv/dbHXI8vzfCL2KwEFxJrOriBz5AXBw50gsaT3B8oj+PU6oPK31jy93A4mO0w3M9sgmD5RqAyCNt3A1VZCfkeR6wTHJzxgRNh6oUkKIG+TTAYTSLRzFYeyYw0DVhaLYd+xljFDNg+Ok196eBjFUns4Wtvu8mXTw5QHn6iSHQ0X4jnTVkgtkxQCkoSp8MY9W6cbCPQh4BqoE7rDOABYAXQVFuJfRcGLJs6+SC51fJJ/ydiDLdLTo4bfXkUFxdXATn8KlrELMxCf3ZqamoiwfYx+qMEWYasHp1f5Kxjx47at176m9QnkSXYvcIgp8M+m5aWNh/2J/A605/DjC5VDOnaNcsdbaXcq1evNtwEOkAvIdfm3kOQLvTToTdpfxF4OTy1pfAXAvqcdYNVjgYDZfTX8iNmNr8TqjY22ZqdoOnJ/BGdQBMI3BucAra8n5HpO1gf6gXgLXfyI/ptJ2gmKmz+G4KZ0zdzByBefBKqAEog3VVVVUV382+I/wHjBJq6X/x9ywAAAABJRU5ErkJggg==");
    content: " ";
    height: 22px;
    width: 22px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.property-search-template.search-map-active .custom-controls a.map-style-hybrid::after {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 8px;
    line-height: 0;
    font-size: var(--body-font-size-xs);
    color: var(--body-color);
}

.property-search-template.search-map-active a.map-draw-complete {
    display: flex;
    margin-top: 15px;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
}

.property-search-template.search-map-active .custom-controls a.map-draw {
    margin-top: 15px;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);

    /* @todo change visibility for draw functionality https://github.com/hlxsites/hsf-commonmoves/issues/122 */
    visibility: hidden;
}

.property-search-template.search-map-active .custom-controls a.map-draw::before {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxN3B4IiBoZWlnaHQ9IjE3cHgiIHZpZXdCb3g9IjAgMCAxNyAxNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5Db21iaW5lZCBTaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZyBpZD0iRG9jdW1lbnQtU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iVUkvUGVuY2lsIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMuMDAwMDAwLCAtOC4wMDAwMDApIiBmaWxsPSIjM0EzQTNBIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTUuNzY0MTY1LDggTDE3LjYwNzQ2MTksOS44NDI4MDc5IEwxNC44NDIyMzQzLDEyLjYwNzk5OTMgTDEzLDEwLjc2NDE2MiBMMTUuNzY0MTY1LDggWiBNMzAsMjUgTDI2LjkwODAwNDIsMjQuNjcyMTczNSBMMjkuNjcyNjY3MywyMS45MDc5NzgzIEwzMCwyNSBaIE0yOC43NTA3MywyMC45ODU1OTE1IEwyNS45ODYwNjY5LDIzLjc1MDc0OTYgTDE1Ljc2NDE3NSwxMy41MjkzODk5IEwxOC41MjkzMDI5LDEwLjc2NDE2NTQgTDI4Ljc1MDczLDIwLjk4NTU5MTUgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=");
    content: " ";
    height: 17px;
    width: 17px;
    top: 8px;
    left: 13px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.property-search-template.search-map-active .custom-controls a.map-draw::after {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 8px;
    line-height: 0;
    font-size: var(--body-font-size-xs);
    color: var(--body-color);
}

.property-search-template.search-map-active .custom-controls {
    position: absolute;
    left: auto;
    right: 15px;
    pointer-events: none;
    bottom: 15px;
}

.property-search-template.search-map-active .custom-controls .zoom-controls {
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: all;
}

.property-search-template.search-map-active .custom-controls a.map-zoom-in::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--body-color);
    width: 1px;
    margin-left: 0;
    left: 50%;
    top: calc(50% - 8px);
    z-index: 9;
    height: 16px;
}

.property-search-template.search-map-active .custom-controls a.map-zoom-in::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--body-color);
    height: 1px;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    width: 16px;
    z-index: 9;
}

.property-search-template.search-map-active .custom-controls a.map-zoom-out::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--body-color);
    height: 1px;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    width: 16px;
    z-index: 9;
}

.property-search-template.search-map-active .map-draw-tooltip {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: var(--line-height-xl);
    font-size: var(--body-font-size-xs);
    background: var(--light-grey);
    text-align: center;
    color: var(--body-color);
    font-family: var(--font-family-primary);
    z-index: 1;
}

.property-search-template.search-map-active .map-search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.property-search-template.search-map-active .map-search-wrapper a.map-search-toggle {
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}

/* hide google map keyboard shortcuts text and google logo */
.property-search-template.search-map-active .gm-style-cc {
    display: none;
}

.property-search-template.search-map-active a[href^="http://maps.google.com/maps"] {
    display: none !important
}

.property-search-template.search-map-active a[href^="https://maps.google.com/maps"] {
    display: none !important
}

/* end */

@media (min-width: 600px) {
    .property-search-template.search-map-active  .custom-controls {
        bottom: 16vw;
    }

    .property-search-template.search-map-active .property-result-listing.block > div:last-of-type {
        width: 100%;
        left: 0;
        top: calc(var(--nav-height) + 50px + 120px);
        height: 600px;

    }
}

.property-result-listing.block .property-result-map-container .disclaimer {
    display: none;
}

@media (max-width: 899px) {
    .property-search-template.search-map-active .property-result-listing.block .property-result-map-container .disclaimer {
        display: block;
    }
}

@media (min-width: 900px) {
    .property-search-template.search-map-active .property-result-listing.block > div:last-of-type {
        position: fixed;
        width: 100%;
        left: 50%;
        top: calc(var(--nav-height) + 50px + 120px);

        /* todo need to figureout on how to do this dynamicly */
        height: 600px;
    }

    .property-search-template.search-map-active  .custom-controls {
        right: 20px;
        bottom: 20px;
        position: absolute;
        left: auto;
        pointer-events: none;
    }

    .property-search-template.search-map-active .custom-controls .zoom-controls {
        margin-top: 15px;
    }

    .property-search-template.search-map-active .map-draw-tooltip {
        font-size: 16px;
        height: 65px;
        line-height: 65px;
    }

    .property-search-template.search-map-active .map-search-wrapper {
        left: 20px;
        right: auto;
        top: auto;
        bottom: 25vw;
        width: 165px;
        overflow: visible;
    }

    .property-search-template.search-map-active .map-search-wrapper a.map-search-toggle {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .property-search-template.search-map-active .property-result-listing.block > div:last-of-type {
        max-width: calc(1400px/2 - 30px);
    }
}
